<form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <div>
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="firstname" ngModel required>
    </div>

    <div>
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" name="lastname" ngModel required>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" ngModel required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" ngModel required>
    </div>

    <div>
        <label for="contactType">Contact type:</label>
        <select id="contactType" name="contactType" ngModel required>
            <option value="phone">Phone</option>
            <option value="email">Email</option>
            <option value="address">Address</option>
        </select>
    </div>

    <div>
        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" ngModel required>
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>

</form>
