<form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <div>
        <label for="firstname">{{'firstname:' | translate}}</label>
        <input type="text" id="firstname" name="firstname" ngModel required>
    </div>

    <div>
        <label for="lastname">{{'lastname:' | translate}}</label>
        <input type="text" id="lastname" name="lastname" ngModel required>
    </div>

    <div>
        <label for="username">{{'username:' | translate}}</label>
        <input type="text" id="username" name="username" ngModel required>
    </div>

    <div>
        <label for="password">{{'password:' | translate}}</label>
        <input type="password" id="password" name="password" ngModel required>
    </div>

    <div>
        <label for="contactType">{{'contact_type' | translate}}</label>
        <select id="contactType" name="contactType" ngModel required>
            <option value="phone">{{'phone' | translate}}</option>
            <option value="email">{{'email' | translate}}</option>
            <option value="address">{{'address' | translate}}</option>
        </select>
    </div>

    <div>
        <label for="contact">{{'contact' | translate}}</label>
        <input type="text" id="contact" name="contact" ngModel required>
    </div>

    <button type="submit" [disabled]="!registerForm.valid">{{'register' | translate}}</button>

</form>
