<form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>{{'firstname' | translate}}</mat-label>
        <input matInput id="firstname" name="firstname" ngModel required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'lastname' | translate}}</mat-label>
        <input matInput id="lastname" name="lastname" ngModel required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'username' | translate}}</mat-label>
        <input matInput id="username" name="username" ngModel required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'password' | translate}}</mat-label>
        <input matInput id="password" name="password" ngModel required type="password">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact_type' | translate}}</mat-label>
        <mat-select id="contactType" name="contactType" ngModel required>
            <mat-option value="phone">{{'phone' | translate}}</mat-option>
            <mat-option value="email">{{'email' | translate}}</mat-option>
            <mat-option value="address">{{'address' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact' | translate}}</mat-label>
        <input matInput id="contact" name="contact" ngModel required>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!registerForm.valid">{{'register' | translate}}</button>


</form>
