<form [formGroup]="registerForm"  (ngSubmit)="onSubmit(registerForm)" >
    <mat-form-field appearance="fill">
        <mat-label>{{'account_id' | translate}}</mat-label>
        <input matInput id="account_id" formControlName="account_id" [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact_type' | translate}}</mat-label>
        <mat-select id="type" formControlName="type">
            <mat-option value="phone">{{'phone' | translate}}</mat-option>
            <mat-option value="email">{{'email' | translate}}</mat-option>
            <mat-option value="address">{{'address' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact' | translate}}</mat-label>
        <input matInput id="contact" formControlName="contact">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'primary_contact' | translate}}</mat-label>
        <input matInput id="primary_contact" formControlName="primary_contact">
    </mat-form-field>

    

    

    <button mat-button type="submit" [disabled]="!registerForm.valid">{{'register_contact' | translate}}</button>


</form>