<form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>{{'account_id' | translate}}</mat-label>
        <input matInput id="account_id" name="account_id" ngModel required [readonly]="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact_type' | translate}}</mat-label>
        <mat-select id="type" name="type" ngModel required>
            <mat-option value="phone">{{'phone' | translate}}</mat-option>
            <mat-option value="email">{{'email' | translate}}</mat-option>
            <mat-option value="address">{{'address' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact' | translate}}</mat-label>
        <input matInput id="contact" name="contact" ngModel required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'primary_contact' | translate}}</mat-label>
        <input matInput id="primary_contact" name="primary_contact" ngModel required>
    </mat-form-field>

    

    

    <button mat-button type="submit" [disabled]="!registerForm.valid">{{'register_contact' | translate}}</button>


</form>