<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" [readonly] = "true">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'firstname' | translate}}</mat-label>
        <input matInput formControlName="firstname">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'lastname' | translate}}</mat-label>
        <input matInput formControlName="lastname">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'username' | translate}}</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'password' | translate}}</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact_type' | translate}}</mat-label>
        <mat-select formControlName="contact_type">
            <mat-option value="phone">{{'phone' | translate}}</mat-option>
            <mat-option value="email">{{'email' | translate}}</mat-option>
            <mat-option value="address">{{'address' | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>{{'contact' | translate}}</mat-label>
        <input matInput formControlName="contact_contact">
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!accountForm.valid">{{'update_account' | translate}}</button>


</form>
