<div class="div-accounts">

    <div class="filter-container">
        <mat-form-field appearance="outline">
            <mat-label>Select Date</mat-label>
            <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Select Time</mat-label>
            <input matInput [ngxTimepicker]="timepicker" placeholder="Select Time" [(ngModel)]="selectedTime">
            <ngx-material-timepicker #timepicker></ngx-material-timepicker>
        </mat-form-field>
        

        <mat-form-field>
            <mat-label>Pick a time</mat-label>
            <input matInput [matTimepicker]="picker" [(ngModel)] = "selectedTime2">
            <mat-timepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matTimepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-timepicker-toggle>
            <mat-timepicker #picker/>
          </mat-form-field>

        <button mat-raised-button color="primary" (click)="applyFilter()">Filter</button>

        <button mat-raised-button color="primary" (click)="applyFilter2()">Filter2</button>

    </div>
    
    <table mat-table [dataSource]="tableData" class="table-accounts">
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let account">
                <button mat-icon-button (click)="onDelete(account.id); $event.stopPropagation()">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let account"> {{account.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> {{'firstname' | translate}} </th>
            <td mat-cell *matCellDef="let account"> {{account.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> {{'lastname' | translate}} </th>
            <td mat-cell *matCellDef="let account"> {{account.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> {{'username' | translate}} </th>
            <td mat-cell *matCellDef="let account"> {{account.username}} </td>
        </ng-container>

        <ng-container matColumnDef="contact_type">
            <th mat-header-cell *matHeaderCellDef> {{'contact_type' | translate}} </th>
            <td mat-cell *matCellDef="let account"> {{account.contact_type}} </td>
        </ng-container>

        <ng-container matColumnDef="contact_contact">
            <th mat-header-cell *matHeaderCellDef> {{'contact' | translate}} </th>
            <td mat-cell *matCellDef="let account"> {{account.contact_contact}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="showedColumns"></tr>

        

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">{{'no_matching_data' | translate}}</td>
        </tr>

        <tr mat-row *matRowDef="let row; columns:showedColumns;" (click) = "onUpdateClick(row.id)"></tr>
    </table>
    <button (click)="refreshAccounts()">{{'refresh' | translate}}</button>
</div>
