<div class="div-accounts">
    <table mat-table [dataSource]="tableData" class="table-accounts">
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let account">
                <button mat-icon-button (click)="onDelete(account.id); $event.stopPropagation()">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let account"> {{account.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let account"> {{account.firstname}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let account"> {{account.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let account"> {{account.username}} </td>
        </ng-container>

        <ng-container matColumnDef="contact_type">
            <th mat-header-cell *matHeaderCellDef> Contact Type </th>
            <td mat-cell *matCellDef="let account"> {{account.contact_type}} </td>
        </ng-container>

        <ng-container matColumnDef="contact_contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let account"> {{account.contact_contact}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="showedColumns"></tr>

        

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">Nema podataka koji odgovaraju.</td>
        </tr>

        <tr mat-row *matRowDef="let row; columns:showedColumns;" (click) = "onUpdateClick(row.id)"></tr>
    </table>
    <button (click)="refreshAccounts()">Refresh</button>
</div>
